<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Dr.CRYPTO 블록체인 의료데이터 공유 플랫폼</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr.CRYPTO 블록체인 의료데이터 공유 플랫폼</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type='text/css' href="{% static 'doctor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'doctor/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'doctor/css/style.css' %}">
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!--banner-->
{% load staticfiles %}
<section id="banner1" class="banner1">
    <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'doctor:index' %}">
                            <img src="{% static 'doctor/img/logo.png' %}" class="img-responsive" style="width: 140px; margin-top: -16px;">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="">
                                <a href="#">About</a>
                            </li>
                            <li class="">
                                <a href="#Features">Features</a>
                            </li>
                            <li class="">
                                <a href="#HowItWorks">How It Works</a>
                            </li>
                            <li class="">
                                <a href="#Value">Value</a>
                            </li>
                            <li class="">
                                <a href="#Team">Team</a>
                            </li>
                            {% if user.is_active %}
                                {% for i in categories %}
                                    {% if user == i.user %}
                                        <li>
                                            <a href="{% url 'doctor:doctor_form' user.pk %}">DOCTOR'S FORM</a>
                                        </li>
                                    {% endif  %}
                                {% endfor %}
                                <li>
                                    <a href="{% url 'doctor:logout' %}">LOGOUT</a>
                                </li>
                                <li>
                                    <a href="{% url 'doctor:profile' user.pk %}">MY PAGE</a>
                                </li>
                            {% else %}
                                <li>
                                <li class=""><a href="{% url 'doctor:login' %}">Sign in</a></li>
                                </li>
                                <li>
                                <li class=""><a href="{% url 'doctor:signup' %}">Sign up</a></li>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <img src="{% static 'doctor/img/logo.png' %}" class="img-responsive">
                    </div>
                    <div class="banner-text text-center">
                        <h1>
                            보다 편리하고 안전한
                            <br> 블록체인 의료정보 공유 플랫폼
                        </h1>

                        <a href="https://drive.google.com/open?id=1r_tmkrG-mP2KLOxV8GVW5yxmkbCu5c6W" class="btn btn-appoint" target="_blank">
                            White Paper </a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#service">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if messages %} {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{msg.message}}
    </div>
{% endfor %} {% endif %}

<!--Features-->

<section id="Features" class="section-padding">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="ser-title title-padding">Features</h2>
                <hr class="botm-line">
                <br>
                <br>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/fea1.png' %}" style="display:block;  margin-left: auto;
            margin-right: auto;">
                <p class="features-text1">병원 방문기록 검색</p>
                <p class="features-text2">
                    나조차 헷갈렸던 여러 병원의
                    <br> 방문기록을 한 곳에 모두 모아
                    <br> 간편하게 검색할 수 있습니다.
                </p>
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/fea2.png' %}" style="display:block; margin-left: auto;
              margin-right: auto;">
                <p class="features-text1">증명서 발급</p>
                <p class="features-text2">
                    병원에 직접 방문하지 않아도
                    <br> 진단서, 소견서와 같은 증명서나
                    <br> 처방전을 발급받을 수 있습니다.

                </p>
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/fea3.png' %}" style="display:block; margin-left: auto;
              margin-right: auto;">
                <p class="features-text1">다른 기관으로 전송</p>
                <p class="features-text2">
                    발급받은 증명서를 다른 병원이나
                    <br> 약국으로 전송하여 쉽고 빠르게
                    <br> 자신의 의료 정보를 보낼 수 있습니다.

                </p>
            </div>
        </div>
    </div>
</section>
<!---/features-->


<!--/ how it works-->
<section id="HowItWorks" class="section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">How It Works</h2>
                <hr class="botm-line-hiw">
                <br>
                <br>
            </div>
            <div class="container">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img src={% static 'doctor/img/hiw1.png' %} alt="..." class="img-responsive">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 1</h4>
                                <h4 class="subheading">개인의료정보의 필요</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br>환자가 다른병원에서
                                    <br>진료를 보거나
                                    <br>약국에 처방받기 위해
                                    <br>개인의료정보를 필요로 함
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src={% static 'doctor/img/hiw2.png' %} alt="..." class="img-responsive">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 2</h4>
                                <h4 class="subheading">환자 개인의료정보 요청</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br> 환자가 원하는 형식의
                                    <br> 의료 정보(의무기록) 요청
                                    <br> ex. 진단서, 처방전, 등

                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img src={% static 'doctor/img/hiw3.png' %} alt="..." class="img-responsive">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 3</h4>
                                <h4 class="subheading">의료인의 입력</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br>의료인이 요청받은 형식의
                                    <br>의료정보(의무기록)
                                    <br>작성 후 환자에게 전송
                                </p>
                            </div>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src={% static 'doctor/img/hiw4.png' %} alt="..." class="img-responsive">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 4</h4>
                                <h4 class="subheading">환자가 데이터 전송</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br> 환자가 원하는
                                    <br> 기관(병원, 약국 등)으로
                                    <br> 의료정보 전송

                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img src={% static 'doctor/img/hiw5.png' %} alt="..." class="img-responsive">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 5</h4>
                                <h4 class="subheading">기관에서 데이터 이용</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br> 환자가 전송한
                                    <br> 의료정보를
                                    <br> 진료 및 처방시 활용

                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="botm-padding"> </div>
            </div>
        </div>
    </div>
    </div>

</section>
<!--/ how it works-->

<!--value-->

<section id="Value" class="section-padding">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="ser-title title-padding">Value</h2>
                <hr class="botm-line">
                <br>
                <br>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/access.png' %}" style="display:block; margin-left: auto;
          margin-right: auto;">
                <p class="features-text1">접근성</p>
                <p class="features-text2">
                    개인 의료정보가 필요한 환자는
                    <br>웹과 앱을 통해 언제 어디서든
                    <br>편리하게 의료 정보를
                    <br>이용할 수 있습니다.
                </p>
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/patient.png' %}" style="display:block; margin-left: auto;
            margin-right: auto;">
                <p class="features-text1">효율성</p>
                <p class="features-text2">
                    병원별로 따로 가지고 있던 정보를
                    <br>하나의 플랫폼에서 확인할 수 있고
                    <br>진료를 위해 필요한 정보를
                    <br>간편하게 전송할 수 있습니다.
                </p>
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'doctor/img/security.png' %}" style="display:block; margin-left: auto;
            margin-right: auto;">
                <p class="features-text1">보안성</p>
                <p class="features-text2">
                    환자 의료정보를 블록체인에 기록하여
                    <br>데이터가 위변조되는 것을 방지하고
                    <br>정확한 정보를 제공합니다
                </p>
            </div>
        </div>
    </div>
</section>
<!---/value-->


<!--Team-->
<section id="Team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title title-padding">Team</h2>
                <hr class="botm-line">
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="thumbnail">
                    <img src={% static 'doctor/img/경민.png' %} alt="..." class="team-img">
                    <div class="caption">
                        <h3>성경민</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="thumbnail">
                    <img src={% static 'doctor/img/성원.png' %} alt="..." class="team-img">
                    <div class="caption">
                        <h3>오성원</h3>
                        <p>UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="thumbnail">
                    <img src={% static 'doctor/img/성준.png' %} alt="..." class="team-img">
                    <div class="caption">
                        <h3>박성준</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="thumbnail">
                    <img src={% static 'doctor/img/수호.png' %} alt="..." class="team-img">
                    <div class="caption">
                        <h3>최수호</h3>
                        <p>UI/UX Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="thumbnail">
                    <img src={% static 'doctor/img/종진.png' %} alt="..." class="team-img">
                    <div class="caption">
                        <h3>이종진</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
    </div>
</section>
<!--/ about us-->

<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Dr.CRYPTO</h4>
                    </div>
                    <div class="info-sec">
                        <p>블록체인 기반 개인 의료정보 공유 플랫폼</p>
                        경기 성남시 분당구 판교로289번길 20,
                        <br> 스타트업캠퍼스 4층 DIGITAL LAB
                        <br>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Sponsored By</h4>
                    </div>
                    <div class="info-sec">
                        TalentX
                        <br> STARTUP CAMPUS
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Contact Us</h4>
                    </div>
                    <div class="info-sec">
                        Email ) TalentX083@gmail.com
                        <br> Tel ) 010-7237-2430
                        <br>
                        <p>Facebook ) https://www.facebook.com/Dr-CRYPTO-594209154309885/</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright Dr.CRYPTO. All Rights Reserved
                    <div class="credits">
                        Redesigned by LUCY
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'doctor/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'doctor/js/jquery.easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'doctor/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'doctor/js/custom.js' %}" type="text/javascript"></script>


</body>

</html>